node_modules/
.next/
out/
dist/
build/
lib/generated/
**/*.generated.*
**/*.d.ts
prisma/generated/
prisma/migrations/
**/*.min.js
**/*.bundle.js
**/*.chunk.js
**/*.wasm.js
**/*.edge.js
public/
*.config.js
*.config.mjs 